.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
}

  .checkoutProduct.removing {
    opacity: 0;
  }
.checkoutProduct_info{
    padding-left: 20px;
}
.checkoutProduct_info > button{
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background: #FFD814;
    border-color: #FCD200;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-top: 10px;
    color: #111;
    text-decoration: none;
    vertical-align: middle;
    line-height: 30px;
    font-size: 13px;
    transition: background-color 0.3s ease;
    font-weight: bolder;
    &&:hover{
        background-color: #111;
        color: #ffffff;;
    }
}
.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_rating{
    display: flex;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}