.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-image: linear-gradient(to right, #fee7c8, #efeae5);

}    

.login_logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}
.login_container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}
.login_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login_container > form > h5{
    margin-bottom: 5px;

} 
.login_container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border: 1px solid gray;
    border-radius: 5px;
}
.login_container > p{
    margin-top: 15px;
    font-size: 12px;
}
.login_button{
    height: 33px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background: #FFD814;
    border-color: #FCD200;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 30px;
    font-size: 13px;
    transition: background-color 0.3s ease;
    &&:hover{
        background-color: #111;
        color: #ffffff;;
    }
}
.login_signup_button{
    height: 33px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background: #065c67;
    color: #ffffff;
    border-color: #FCD200;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 30px;
    font-size: 13px;
    transition: background-color 0.3s ease;
    &&:hover{
        background-color:#FFD814;
        color: #111
    }
}
.google-icon {
    display: flex;
    align-items: center; /* Align the Google icon vertically with the text */
    margin-top: 15px; /* Add some spacing from the paragraph above */
  }
  
  .google-icon button {
    display: flex;
    align-items: center; /* Align the Google icon vertically with the text */
    height: 40px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
    background: #fff;
    color: #444;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 30px;
    font-size: 15px;
    transition: background-color 0.3s ease;
  }
  
  .google-icon button:hover {
    background-color: #f1f1f1;
  }
  
  .google-icon-img {
    width: 24px;
    height: 24px;
    margin-left: 70px;
    margin-right: 8px; /* Add some spacing between the icon and the text */
    object-fit: contain;
  }