.yellow-star {
    color: yellow;
}
.product{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color:white;
    z-index: 1;
    transition: transform 0.3s ease; /* Add the transition for the transform property */
}

/* Apply the scale transformation on hover */
.product:hover {
  transform: scale(1.03); /* Increase the scale to make it slightly larger */
  cursor: pointer;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}


.product > button{
    height: 33px;
    width: 50%;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background: #FFD814;
    border-color: #FCD200;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 30px;
    font-size: 13px;
    transition: background-color 0.3s ease;
    &&:hover{
        background-color: #111;
        color: #ffffff;;
    }
}
.product_info{
    height: 100px;
    margin-bottom: 15px;
}
.product_price{
    margin-top: 5px;
}
.product_rating{
    display: flex;
}